services:
  iptv-api:
    image: ${IPTV_API_IMAGE}:${IPTV_API_VERSION}
    container_name: iptv-api
    restart: unless-stopped

    ports:
      # APP_PORT
      - "5180:5180"
      # NGINX_HTTP_PORT
      - "8080:8080"

    volumes:
      - ./config:/iptv-api/config
      - ./output:/iptv-api/output

    environment:
      PUBLIC_SCHEME: "http"
      PUBLIC_DOMAIN: "127.0.0.1"
      APP_PORT: "5180"
      NGINX_HTTP_PORT: "8080"
      NGINX_RTMP_PORT: "1935"
      CDN_URL: ""
      SUBSCRIBE_URLS: "${SUBSCRIBE_URLS}"
      TZ: "Asia/Shanghai"

  web-server:
    image: nginx:alpine
    container_name: iptv-web
    restart: unless-stopped
    ports:
      - "${WEB_SERVER_PORT}:80"
    volumes:
      - ./output:/usr/share/nginx/html:ro
    command: >
      /bin/sh -c "echo 'server {
      listen 80;
      root /usr/share/nginx/html;
      location / {
      autoindex on;
      autoindex_exact_size off;
      autoindex_localtime on;
      charset utf-8;
      }
      }' > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"